@import '~bootstrap/scss/bootstrap';

.dropdown-toggle {
border-radius: 5em;
}

#product-table tbody {
 overflow:auto;
 height: 150px;
}

body {
  margin: 0 auto;
  text-align: center;
}
.result-table {
  width: 800px;
  margin: 0 auto;
}
