@import '~bootstrap/scss/bootstrap';

.dropdown-toggle {
border-radius: 5em;
}

body {
  margin: 0 auto;
  text-align: center;
}
.result-table {
  width: 800px;
  margin: 0 auto;
}

a {
  cursor: pointer;
}

svg {
  pointer-events: none;
}
